.loginmain {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

  
  .loginform {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 491px;
    gap: 25px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.31);
  }
  
  .loginhead {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .formheading {
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .info {
    display: flex;
    gap: 5px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  
  .FormControl {
    background: rgba(255, 255, 255, 0.17)!important;
    padding: 12px 60px !important;
    color: #9E9E9E !important;
    border-radius: 6px !important;
    font-size: 20px !important;
    margin-left: 0px !important;
    text-align: left;
    border-color: rgba(193, 190, 190, 0.33) !important;
  }


  
  
  .FormControl:focus {
    color: #212529;
    outline: 0 !important;
    box-shadow: 0 0 0 0.20rem rgba(245, 245, 245, 0.457) !important;
  }
  
  .FormSelect {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"%3E%3Cpath d="M13.3327 8.3335L9.99935 11.6668L6.66602 8.3335" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: right 10px center !important;
    border-color: rgba(193, 190, 190, 0.33) !important;
    color:white !important;
  }
  
  .FormSelect:focus {
    color: #212529;
    outline: 0 !important;
    box-shadow: none !important;
  }
  
  .FormControl:invalid {
    border-color: rgba(193, 190, 190, 0.33) !important;
  }
  
  .FormControl:valid {
    border-color: rgba(193, 190, 190, 0.33) !important;
  }

  .FormControlEmail{
    background: rgba(218, 61, 38, 0.50)!important;
    padding: 12px 0px !important;
    color: #9E9E9E !important;
    border-radius: 6px !important;
    font-size: 20px !important;
    margin-left: 0px !important;
    text-align: left;
    border-color: rgba(193, 190, 190, 0.33) !important;
  }
  
  
  .submitbutton {
    display: flex;
    justify-content: center;
  }
  
  .google {
    background-image: url('/google.svg') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: left 20px center !important;
    border-color: rgba(193, 190, 190, 0.33) !important;
    width:100%;
    padding-left: 25px;
  }
  
  .facebook {
    background-image: url('/facebook.svg') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: left 20px center !important;
    border-color: rgba(193, 190, 190, 0.33) !important;
    width:100%;
    padding-left: 25px;
  }
  .email
  {
    background-image: url('/email.svg') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: left 20px center !important;
    background-color: rgba(218, 61, 38, 0.50);
    border-color: rgba(193, 190, 190, 0.33) !important;
    width:100%;
    padding-left: 25px;
  
  }
  .phone{
    background-image: url('/phone.svg') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: left 20px center !important;
    border-color: rgba(193, 190, 190, 0.33) !important;
    width:100%;
    padding-left: 25px;
    
  }
  
  .buttontextpassword{
    padding-left: 70px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .formtext {
  
    color: #ffffffcc;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .emailfeild{
    background-image: url('/email.svg') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: left 20px center !important;
    border-color: rgba(193, 190, 190, 0.33) !important;
    
  }

  .passwordfeild{
    background-image: url('/password.svg') !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: left 20px center !important;
    border-color: rgba(193, 190, 190, 0.33) !important;
    
  }

  .continue{
    background-color:rgba(218, 61, 38, 0.47) !important;
    border-radius:20px;
    margin-top:20px;
    padding:8px 30px;
    border:white;
    font-weight: 400;
  }
  .continue:focus{
   
    outline: 0 !important;
    box-shadow: 0 0 0 0.20rem rgba(245, 245, 245, 0.457) !important;
  }

  .passwordcontinue{
    background-color:#DA3D26 !important;
    border-radius:6px;
    padding:8px 30px;
    border:white;
  }

  .passwordcontinue:focus{
    outline: 0 !important;
    box-shadow: 0 0 0 0.20rem rgba(245, 245, 245, 0.457) !important;
  }

  .numberfield{
    border-radius:0px 6px 6px 0px !important;
    border-left:none;
    padding:7px 37px 7px 5px !important;
    
  }
  
  .numbericon{
    border-radius:6px 0 0 6px !important ;
  border-right: none;
  padding:12px 10px 12px 15px !important ;
  }

  .inputwrapper {
    position: relative;
    margin-bottom: 20px;
    align-items: start !important;
  }

  .inputwrapper .FormControl {
    
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }

  .inputwrapper .FormControl:focus,
  .inputwrapper .FormControl:not(:placeholder-shown) {
    outline: none;
    border-color: #000000;
  }

  .inputwrapper span {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0px;
    left:50px;
    font-size: 16px;
    background-color: transparent;
    color: #ffffff;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(-50%);
  }

  .inputwrapper .FormControl:focus + span,
  .inputwrapper .FormControl:not(:placeholder-shown) + span {
    opacity: 1;
  }
